.item-table-detailed.module_products_list td {
    padding: 1px 4px;
	border: 1px solid #e5e5e5;
}
.item-table-detailed.module_products_list th {
    padding: 1px 4px;
	border: 1px solid #e5e5e5;
	font-size: 11px;
	font-weight: 400;
}
/*
.item-table-detailed.module_products_list th:nth-last-child(1) {
    border-left: none;
}
.item-table-detailed.module_products_list th:nth-last-child(2) {
    border-right: none;
}
*/
.item-table-detailed.module_products_list tr td:first-child {
    padding-left: 4px;
}

.item-table-detailed.module_products_list tr td:last-child {
    padding-right: 4px;
}

td.item-prop-cell {
    min-width: 4%;
	width: 4%;
}

.item-prop-cell-value span, .item-prop-cell-value span a {
    color: #373737;
    font-size: 12px;
}

.item-table-detailed.module_products_list td.price-cell {
    width: unset;
	/*border-right: none;*/
	text-align: center;
}

.item-table-detailed.module_products_list td.but-cell {
    max-width: 180px;
    text-align: right;
	/*border-left: none;*/
}
.item-table-detailed.module_products_list td.but-cell > div {
	display: flex;
	flex-direction: column;
	    padding: 4px 0px;
}
.item-table-detailed.module_products_list td.price-cell .cost.prices .price {
    font-size: 14px;
}

.item-table-detailed.module_products_list .item-stock {
	margin-top: 10px;
	padding-bottom: 0;
	zoom: 0.85;
}

.item-table-detailed.module_products_list .cost .price {
    margin-right: 0;
    margin-left: 0;
}